<!DOCTYPE html>
<html>
<head>
  <title>Live Document - Standard Notes</title>
  <%= stylesheet_link_tag    "collab/application", media: "all" %>
  <%= stylesheet_link_tag "codemirror" %>
  <%= javascript_include_tag "collab/application" %>
  <%= javascript_include_tag "aes" %>
  <%= javascript_include_tag "hmac-sha256" %>
  <%= javascript_include_tag "chainpad" %>
  <%= javascript_include_tag "codemirror" %>
  <%= javascript_include_tag "TextPatcher" %>
  <%= javascript_include_tag "markdown" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
